
body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
    border-radius: 500rem;
  }
}

.portfolio-item {
  margin-bottom: 30px;
  border-radius: 25rem;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.pagination {
  margin-bottom: 30px;
  border-radius: 25rem;
}
.row,.col-lg-4,.col-sm-6,.portfolio-item {
  border-bottom-left-radius: 25rem;
  border-radius: 50px 25px;
  padding-right: 15px;
  padding-left: 15px;
} 
.col-lg-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}
.col-sm-6
{
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}
.card-img-top{
width: 80%;
margin-left: 35px;
}
.card{
  border-radius: 35px 35px;
}

